//HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com
//
//main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme
html {
  font-size: 1em;
  line-height: 1.4;
  //max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 2px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

//:not(svg):not(path) functions are set to remove hover delay with svg images, for example at footers social section icons in the chrome
*:not(svg):not(path) {
  -moz-transition: all .4s cubic-bezier(.1, .7, .3, 1);
  -o-transition: all .4s cubic-bezier(.1, .7, .3, 1);
  -webkit-transition: all .4s cubic-bezier(.1, .7, .3, 1);
  transition: all .4s cubic-bezier(.1, .7, .3, 1);
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;
  color: #000;
  background: #ccc;
}

//==========================================================================
// Author's custom styles
// ==========================================================================

@font-face {
  font-family: 'Muli Regular';
  src: url('../fonts/Muli-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli Bold';
  src: url('../fonts/Muli-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muli Black';
  src: url('../fonts/Muli-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noticia Italic';
  src: url('../fonts/NoticiaText-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Noticia Italic Bold';
  src: url('../fonts/NoticiaText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Noticia Regular';
  src: url('../fonts/NoticiaText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$primary-pink: #f61067;
$primary-white: #fcfcfc;

//------------------------------------------
//  Responsive Grid Media Queries - 1280, 1024, 768, 480
//   1024-1280   - desktop (default grid)
//   768-1024    - tablet landscape
//   480-768     - tablet
//   less-480    - phone landscape & smaller
//--------------------------------------------

@mixin media-queries_1440-and-more {
  @media only screen and (min-width: 1440px) { @content; }
}

@mixin media-queries_1280-and-less {
  @media only screen and (max-width: 1280px) { @content; }
}

@mixin media-queries_1024-and-less {
  @media only screen and (max-width: 1024px) { @content; }
}

@mixin media-queries_768-and-less {
  @media only screen and (max-width: 768px) { @content; }
}

@mixin media-queries_480-and-less {
  @media only screen and (max-width: 480px) { @content; }
}

@mixin media-queries_320-and-less {
  @media only screen and (max-width: 320px) { @content; }
}

@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin width-fit-content {
  //noinspection CssInvalidPropertyValue
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@mixin height-fit-content {
  //noinspection CssInvalidPropertyValue
  height: -webkit-fit-content;
  height: fit-content;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muli Regular', sans-serif;
}

h2 {
  font-size: 54px;
  line-height: 80px;
}

h3 {
  font-size: 45px;
  line-height: 67px;
}

h4 {
  font-size: 36px;
  line-height: 53px;
}

h5 {
  font-size: 27px;
  line-height: 40px;
}

h6 {
  font-size: 18px;
  line-height: 27px;
}

.intro__button-learn-more,
.benefits__button-learn-more,
.services__button-learn-more {
  width: 200px;

  @include media-queries_480-and-less {
    width: 80vw;
  }

  a {
    display: block;
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primary-white;
    cursor: pointer;
    border: 2px solid $primary-pink;
    border-radius: 36px;
    outline: none;
    background: $primary-pink;
    width: 196px;
    text-align: center;
    padding: 10px 0;

  }
}

.for-big-screens {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.for-small-screens {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.header {
  width: 100%;
  height: 100%;
  padding: 0 0 72px;
  overflow: hidden;
  background-image: url('../images/header_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include media-queries_1440-and-more {
    background-repeat: repeat;
  }
}

.header__navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1146px;
  margin: 0 auto;
  padding-top: 65px;

  @include media-queries_1280-and-less {
    padding: 65px 25px 0;
  }

  a {
    @include media-queries_1024-and-less {
      flex-grow: 1;
    }
  }
}

.header__navigation-bar {
  margin: 0 80px 0 175px;

  @include media-queries_1280-and-less {
    margin: 0;
  }

  @include media-queries_1024-and-less {
    display: none;
  }

  ul {
    font-family: "Muli Regular", sans-serif;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    padding: 0;
    color: $primary-white;
    list-style-type: none;
  }

  li {
    margin: 0 2vw;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $primary-white;

    &:hover {
      color: $primary-pink;
    }
  }
}

.header__phone-number {
  font-family: "Muli Regular", sans-serif;
  font-weight: 800;
  font-size: 14.4px;
  letter-spacing: 2px;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  color: $primary-white;

  @include media-queries_1024-and-less {
    flex-grow: .005;
    padding-right: 10px;
  }

  @include media-queries_480-and-less {
    display: none;
  }

  p {
    @include width-fit-content;
  }

  &::before {
    height: 28.8px;
    margin-right: 18px;
    content: url('../images/icons/nav__phone-icon.svg');
  }
}

.header__navigation-burger {
  letter-spacing: 2px;
  margin-left: 65px;
  color: $primary-white;

  @include media-queries_1280-and-less {
    margin-left: 0;
  }
}

.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1146px;
  margin: 0 auto;

  @include media-queries_1280-and-less {
    justify-content: space-between;
    padding: 0 25px;
  }

  @include media-queries_480-and-less {
    padding: 0 10px;
  }

  .header__text-wrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 80%;
    max-width: 1146px;
    margin-top: 160px;

    @include media-queries_480-and-less {
      margin: 120px auto 0;
      text-align: center;
      display: block;
      width: 100%;
    }
  }

  .header__top-sub-text {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $primary-white;

    @include media-queries_480-and-less {
      font-size: 4vw;
      font-weight: 500;
      line-height: 20px;
    }

    p {
      margin: 0;
    }
  }

  .header__main-text {
    margin: 0;
    user-select: none;
    color: $primary-white;

    h1 {
      font-family: 'Muli Black', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 99px;
      line-height: 110px;
      position: relative;
      right: 2px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, .25);

      @include media-queries_1024-and-less {
        font-size: 9vw;
        line-height: 12vw;
      }

      @include media-queries_480-and-less {
        font-size: 10vw;
      }
    }

    span {
      color: $primary-pink;
    }
  }
}

.header__scroll-to-see-more {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 380px;
  margin-top: 130px;

  @include media-queries_768-and-less {
    margin-top: 25px;
    opacity: .8;
  }

  @include media-queries_480-and-less {
    display: none;
  }

  a {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 25px;
    letter-spacing: 6px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-white;
    text-orientation: mixed;
    writing-mode: vertical-rl;

    &:hover {
      color: $primary-pink;
    }

    &::after {
      position: relative;
      right: 1px;
      margin-top: 20px;
      content: url('../images/icons/header__arrow-icon.svg');
      cursor: pointer;
      -webkit-transition: all .3s;
      transition: all .3s;
    }

    &:hover::after {
      margin-top: 30px;
      content: url('../images/icons/header__arrow-icon_hover.svg');
    }
  }
}

.header__bottom_big-button {
  position: relative;
  display: flex;
  right: 682px;

  @include media-queries_768-and-less {
    margin-top: 40px;
  }

  @include media-queries_480-and-less {
    margin-top: 80px;
    right: 0;
  }

  a {
    font-size: 18px;
    line-height: 29px;
    font-family: "Muli Regular", sans-serif;
    display: flex;
    align-items: center;
    padding: 20px 26px 20px 683px;
    text-decoration: none;
    color: $primary-white;
    border: 1px solid rgba(255, 255, 255, .25);
    outline: none;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    @include media-queries_1280-and-less {
      font-size: 15px;
      line-height: 24px;
    }

    @include media-queries_480-and-less {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin: 0 auto;
    }

    &:hover {
      border: 1px solid $primary-pink;
      border-radius: 0 50px 50px 0;
      box-shadow: inset 0 0 0 1px $primary-pink;

      @include media-queries_480-and-less {
        border-radius: 50px;
      }
    }

    &::after {
      @include transition(.3s);
      height: 48px;
      padding: 15px;
      content: url('../images/icons/header_button_arrow.svg');
    }

    &:hover::after {
      margin-left: 30px;
      content: url('../images/icons/header_button_arrow_hover.svg');

      @include media-queries_480-and-less {
        margin-left: 0;
        padding: 15px;
        transform: rotate(90deg);
      }
    }
  }

  span {
    min-width: 500px;

    @include media-queries_1280-and-less {
      min-width: 422px;
    }

    @include media-queries_768-and-less {
      min-width: 299px;
      text-align: center;
    }

    @include media-queries_480-and-less {
      display: none;
    }
  }
}

main {
  overflow: hidden;
}


.intro {
  position: relative;
  display: flex;
  justify-content: flex-start;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;

  @include media-queries_1280-and-less {
    justify-content: space-around;
  }

  @include media-queries_1024-and-less {
    padding: 0 20px 100px;
  }

  @include media-queries_768-and-less {
    flex-direction: column;
  }

  @include media-queries_480-and-less {
    display: block;
    flex-direction: unset;
    padding: 0 10px 72px;
  }
}

.intro__text-wrapper {
  @include height-fit-content;
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin-top: 100px;

  @include media-queries_1024-and-less {
    padding-right: 20px;
  }

  @include media-queries_768-and-less {
    margin: 78px auto 0;
    padding-right: 0;
  }

  span {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $primary-pink;

    @include media-queries_480-and-less {
      font-size: 10px;
      letter-spacing: 5px;
    }
  }

  h3 {
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    margin: 25px 0 0;
    color: #30233d;

    @include media-queries_480-and-less {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .regular-bold-text {
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    margin: 40px 0 0;
    color: #30233d;

    @include media-queries_480-and-less {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .regular-text {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin: 40px 0 0;
    color: #776c82;

    @include media-queries_480-and-less {
      font-size: 16px;
      line-height: 26px;
    }
  }

  a {
    margin: 50px 0 0;

    span {
      color: $primary-white;
    }
  }
}

.intro__button-learn-more {
  @include media-queries_768-and-less {
    margin: 62px auto 0;
  }

  @include media-queries_480-and-less {
    width: 73vw;
  }

  a {
    @include media-queries_480-and-less {
      width: 73vw;
    }

    &:hover {
      color: $primary-pink;
      border: 2px solid $primary-pink;
      background: $primary-white;
    }
  }
}

.intro__photo-wrapper {
  position: relative;
  display: flex;
  margin: 98px 0 0 130px;

  @include media-queries_1280-and-less {
    margin: 98px 0 0;
  }

  @include media-queries_1024-and-less {
    height: 577px;
  }

  @include media-queries_768-and-less {
    height: auto;
    margin: 92px auto 0;
    padding-right: 100px;
  }

  @include media-queries_320-and-less {
    margin: 62px auto 0;
    padding-right: 0;
  }

  img {
    z-index: 1;

    @include media-queries_1024-and-less {
      width: 360px;
      height: 577px;
    }

    @include media-queries_768-and-less {
      width: 80%;
      min-width: 181px;
      height: auto;
      margin-top: 0;
    }

    @include media-queries_320-and-less {
      width: 95%;
      min-width: auto;
      margin: 0 auto;
    }
  }
}

.intro__photo-wrapper_background-top-block {
  position: absolute;
  top: -36px;
  right: 100px;
  width: 180px;
  height: 204px;
  background-color: #30124e;

  @include media-queries_1024-and-less {
    display: none;
  }

  @include media-queries_768-and-less {
    display: block;
    top: -30px;
    right: 80px;
    width: 250px;
    height: 30px;
  }

  @include media-queries_480-and-less {
    right: 60px;
    width: 170px;
  }

  @include media-queries_320-and-less {
    display: none;
  }
}

.intro__photo-wrapper_background-bottom-block {
  position: absolute;
  z-index: 1;
  top: -36px;
  right: -160px;
  width: 320px;
  height: 504px;
  background-color: #30124e;

  @include media-queries_1280-and-less {
    right: -50px;
    width: 17vw;
    height: 489px;
  }

  @include media-queries_1024-and-less {
    top: auto;
    right: auto;
    bottom: 100px;
    width: 100%;
    height: auto;
    background: none;
  }

  @include media-queries_768-and-less {
    top: -30px;
    right: 0;
    bottom: auto;
    width: 210px;
    height: 359px;
    background-color: #30124e;
  }

  @include media-queries_480-and-less {
    width: 40vw;
    height: 75vw;
  }

  @include media-queries_320-and-less {
    display: none;
  }

  p {
    font-family: 'Noticia Italic', sans-serif;
    font-size: 22.5px;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 255px;
    height: 504px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    color: $primary-white;

    @include media-queries_1280-and-less {
      font-size: 18px;
      line-height: 38px;
    }

    @include media-queries_1024-and-less {
      height: auto;
    }

    @include media-queries_768-and-less {
      height: 359px;
    }

    @include media-queries_480-and-less {
      font-size: 4vw;
      line-height: 7vw;
      height: 75vw;
    }

    &::before {
      width: 57px;
      height: 52px;
      margin: 0 auto 35px;
      content: '';
      background-image: url('../images/icons/quote_1.svg');
      background-size: 57px 52px;

      @include media-queries_1024-and-less {
        position: absolute;
        bottom: 80px;
        left: 0;
        margin: 0 auto;
      }

      @include media-queries_768-and-less {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0 auto 10px;
      }

      @include media-queries_480-and-less {
        width: 42px;
        height: 37px;
        background-size: 42px 37px;
      }
    }

    &::after {
      width: 57px;
      height: 52px;
      margin: 40px auto 0;
      content: '';
      background-image: url('../images/icons/quote_1.svg');
      background-size: 57px 52px;

      @include media-queries_1024-and-less {
        position: absolute;
        top: 80px;
        right: 0;
        margin: 0 auto;
      }

      @include media-queries_768-and-less {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        margin: 10px auto 0;
      }

      @include media-queries_480-and-less {
        width: 42px;
        height: 37px;
        background-size: 42px 37px;
      }
    }
  }
}



.benefits {
  position: relative;
  height: 1008px;
  margin-top: -72px;
  background-image: url('../images/benefits_background.png');
  background-repeat: no-repeat;
  background-size: 999px 1008px;

  @include media-queries_1024-and-less {
    margin-top: 0;
  }

  @include media-queries_768-and-less {
    height: 100%;
    padding-bottom: 100px;
    background-size: 999px 100%;
  }
}

//.benefits__background-image {
//  position: absolute;
//  top: -72px;
//  width: 999px;
//  height: 1008px;
//  background-image: url('../images/benefits_background.png');
//  background-repeat: no-repeat;
//}

.benefits__content-wrapper {
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: flex-start;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;

  @include media-queries_1280-and-less {
    justify-content: space-around;
  }

  @include media-queries_768-and-less {
    flex-direction: column;
  }

  @include media-queries_480-and-less {
    display: block;
    flex-direction: unset;
    padding: 0 10px;
  }
}

.benefits__text-wrapper {
  display: flex;
  z-index: 1;
  flex-direction: column;
  max-width: 460px;
  margin-top: 100px;

  @include media-queries_1024-and-less {
    padding-right: 20px;
  }

  @include media-queries_768-and-less {
    padding-right: 0;
  }

  @include media-queries_480-and-less {
    margin-top: 0;
    padding-top: 72px;
  }

  span {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $primary-pink;

    @include media-queries_480-and-less {
      font-size: 10px;
      letter-spacing: 5px;
    }
  }

  h3 {
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    margin: 25px 0 0;
    color: $primary-white;

    @include media-queries_480-and-less {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .regular-bold-text {
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    margin: 40px 0 0;
    color: $primary-white;

    @include media-queries_480-and-less {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .regular-text {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin: 40px 0 0;
    color: $primary-white;

    @include media-queries_480-and-less {
      font-size: 16px;
      line-height: 26px;
    }
  }

  a {
    span {
      color: $primary-white;
    }
  }
}

.benefits__button-learn-more {
  position: relative;
  margin: 50px 0 0;

  @include media-queries_768-and-less {
    margin: 122px auto 0;
  }

  @include media-queries_480-and-less {
    width: 73vw;
    margin: 50px auto 0;
  }

  a {

    @include media-queries_480-and-less {
      width: 73vw;
    }

    &:hover {
      border: 2px solid $primary-white;
    }
  }
}

.benefits__slider-wrapper {
  position: relative;

  @include media-queries_480-and-less {
    display: none;
  }
}

.benefits__slider {
  display: block;
  z-index: 1;
  width: 460px;
  margin: 198px 0 0 130px;

  @include media-queries_1280-and-less {
    margin: 198px 0 0;
  }

  @include media-queries_1024-and-less {
    width: 360px;
  }

  @include media-queries_768-and-less {
    width: 440px;
    margin: 100px 0 0;
  }

  div {
    transition: none;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 105%;
  }

  .slick-prev {
    right: 50px;

    @include media-queries_768-and-less {

      right: auto;
      left: 170px;
    }

    &::before {
      content: url('../images/icons/benefits__prev-white-arrow.svg');
    }

    &:hover::before {
      content: url('../images/icons/benefits__prev-white-arrow-hover.svg');
    }
  }

  .slick-next {
    right: 5px;

    @include media-queries_768-and-less {
      right: 170px;
    }

    &::before {
      content: url('../images/icons/benefits__next-white-arrow.svg');
    }

    &:hover::before {
      content: url('../images/icons/benefits__next-white-arrow-hover.svg');
    }
  }
}

.benefits_pagingInfo {
  font-family: "Muli Regular", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  position: absolute;
  z-index: 1;
  right: 100px;
  bottom: -57px;
  text-transform: uppercase;
  color: $primary-white;

  @include media-queries_768-and-less {
    right: 199px;
  }
}

.benefits_aside-vertical-caption {
  font-family: "Muli Regular", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  display: flex;
  width: 30px;
  margin: 170px 0 0 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #5e239d;
  justify-items: center;
  text-orientation: mixed;
  writing-mode: vertical-rl;

  @include media-queries_1280-and-less {
    display: none;
  }
}



.services {
  width: 100%;
  height: 100%;
  margin-top: -198px;
  padding-bottom: 200px;
  background: #150433;

  @include media-queries_768-and-less {
    margin-top: 0;
    padding-top: 100px;
  }
}

.services__header-text-wrapper {
  position: relative;
  width: 100%;
  padding-top: 300px;
  text-align: center;

  @include media-queries_768-and-less {
    padding-top: 0;
  }

  span {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: calc(7.6px + .3vw);
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $primary-pink;
  }

  h3 {
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(30px + .9vw);
    line-height: 67px;
    margin: 12px auto;
    color: $primary-white;
  }

  .regular-bold-text {
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    max-width: 558px;
    margin: 30px auto 0;
    padding: 0 10px;
    color: $primary-white;

    @include media-queries_480-and-less {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.services__groups-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1146px;
  margin: 30px auto 100px;
  padding: 0 25px;


  .services__group {
    position: relative;
    margin-top: 30px;
    padding: 17px;
    border-radius: 7%;

    @include media-queries_768-and-less {
      margin-top: 15px;
    }

    h6 {
      font-family: "Muli Regular", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      margin: 20px 0 25px;

      @include media-queries_768-and-less {
        text-align: center;
      }
    }

    p {
      font-family: "Muli Regular", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16.2px;
      line-height: 26px;
      max-width: 318px;
      margin: 0;
      color: $primary-white;

      @include media-queries_768-and-less {
        text-align: center;
      }
    }

    .services__icon {
      display: block;

      @include media-queries_768-and-less {
        margin: 0 auto;
        text-align: center;
        }
    }

    .services__color-mint {
      color: #00f0b5;
    }

    .services__color-pink {
      color: $primary-pink;
    }

    .services__color-orange {
      color: #f67110;
    }

    &:hover {
      background: rgba(255, 255, 255, .1);
    }
  }
}

.services__button-learn-more {
  margin: 0 auto;

  @include media-queries_480-and-less {
    width: 73vw;
  }

  a {
    @include media-queries_480-and-less {
      width: 73vw;
    }

    &:hover {
      border: 2px solid $primary-white;
    }
  }
}


.testimonials__photos-wrapper {
  position: relative;
  height: 517px;
  margin-top: -115px;

  @include media-queries_768-and-less {
    height: auto;
  }

  @include media-queries_480-and-less {
    margin-top: -25vw;
  }

  .testimonials__main-photo {
    z-index: 2;
    width: 460px;
    height: 509px;
    margin: 0 auto;
    user-select: none;
    background: url('../images/faces/main-face.png') no-repeat;

    @include media-queries_1024-and-less {
      width: calc(460px - 130px);
      height: calc(509px - 130px);
      background-size: 100%;
    }

    @include media-queries_768-and-less {
      width: calc(460px - 40px);
      height: calc(509px - 40px);
    }

    @include media-queries_480-and-less {
      width: 60vw;
      height: 70vw;
    }
  }

  .testimonials__photo-1 {
    position: absolute;
    top: 430px;
    left: 50px;
    width: 77px;
    height: 77px;
    background: url('../images/faces/css_faces_sprites.png') -3px -214px;

    @include media-queries_768-and-less {
      display: none;
    }
  }

  .testimonials__photo-2 {
    position: absolute;
    top: 230px;
    left: 230px;
    width: 105px;
    height: 105px;
    background: url('../images/faces/css_faces_sprites.png') -3px -482px;

    @include media-queries_1280-and-less {
      top: 200px;
      left: 150px;
    }

    @include media-queries_1024-and-less {
      left: 110px;
    }

    @include media-queries_768-and-less {
      display: none;
    }
  }

  .testimonials__photo-3 {
    position: absolute;
    top: 370px;
    left: 400px;
    width: 64px;
    height: 64px;
    background: url('../images/faces/css_faces_sprites.png') -3px -65px;

    @include media-queries_1280-and-less {
      top: 400px;
      left: 240px;
    }

    @include media-queries_768-and-less {
      display: none;
    }
  }

  .testimonials__photo-4 {
    position: absolute;
    z-index: -1;
    top: 370px;
    right: 380px;
    width: 81px;
    height: 81px;
    background: url('../images/faces/css_faces_sprites.png') -3px -297px;

    @include media-queries_1280-and-less {
      display: none;
    }
  }

  .testimonials__photo-5 {
    position: absolute;
    top: 250px;
    right: 220px;
    width: 56px;
    height: 56px;
    background: url('../images/faces/css_faces_sprites.png') -3px -3px;

    @include media-queries_1024-and-less {
      top: 280px;
      right: 200px;
    }

    @include media-queries_768-and-less {
      display: none;
    }
  }

  .testimonials__photo-6 {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 92px;
    height: 92px;
    background: url('../images/faces/css_faces_sprites.png') -3px -384px;

    @include media-queries_768-and-less {
      display: none;
    }
  }

  .testimonials__photo-7 {
    position: absolute;
    top: 390px;
    right: 80px;
    width: 73px;
    height: 73px;
    background: url('../images/faces/css_faces_sprites.png') -3px -135px;

    @include media-queries_1024-and-less {
      right: 125px;
    }

    @include media-queries_768-and-less {
      display: none;
    }
  }
}

.testimonials__slider {
  width: 754px;
  margin: 0 auto;
  padding: 80px 0 0;
  text-align: center;
  color: #30233d;

  @include media-queries_1024-and-less {
    width: 600px;
    padding: 50px 0 0;

  }

  @include media-queries_768-and-less {
    width: 70vw;
  }

  @include media-queries_480-and-less {
    width: 80vw;
    padding: 10px 0 0;
  }

  div {
    transition: none;
  }

  p {
    font-size: 36px;
    line-height: 64px;
    width: 754px;

    @include media-queries_1024-and-less {
      font-size: 31px;
      width: 600px;
    }

    @include media-queries_768-and-less {
      font-size: 27px;
      line-height: 50px;
      width: 70vw;
    }

    @include media-queries_480-and-less {
      font-size: 17px;
      line-height: 30px;
      width: 80vw;
    }
  }

  .testimonials__slider_quote {
    font-family: "Noticia Italic", sans-serif;
    font-style: italic;
    font-weight: normal;
  }

  .testimonials__slider_author {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;

    @include media-queries_480-and-less {
      font-size: 15px;
    }

    span {
      font-family: "Muli Bold", sans-serif;
      font-weight: 800;
      color: $primary-pink;
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;

    @include media-queries_480-and-less {
      top: auto;
      bottom: -30px;
    }
  }

  .slick-prev {
    left: -55px;

    @include media-queries_480-and-less {
      left: 15px;
    }

    &::before {
      content: url('../images/icons/testimonials-prev-arrow.svg');
    }

    &:hover::before {
      content: url('../images/icons/testimonials-prev-arrow-active.svg');
    }
  }

  .slick-next {
    right: -55px;

    @include media-queries_480-and-less {
      right: 15px;
    }

    &::before {
      content: url('../images/icons/testimonials-next-arrow.svg');
    }

    &:hover::before {
      content: url('../images/icons/testimonials-next-arrow-active.svg');
    }
  }
}


.subscription {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1146px;
  margin: 0 auto;
  padding: 150px 0 125px;

  @include media-queries_768-and-less {
    padding: 130px 0 125px;
  }

  h3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    margin: 0;
    text-align: center;
    color: #30233d;

    @include media-queries_768-and-less {
      font-size: 33px;
      line-height: 43px;
      padding: 0 15px;
    }

    @include media-queries_480-and-less {
      font-size: 25px;
      line-height: 33px;
      padding: 0 15px;
    }
  }

  h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 25px auto 45px;
    text-align: center;
    color: #776c82;

    @include media-queries_768-and-less {
      font-size: 15px;
      padding: 0 15px;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-queries_480-and-less {
      flex-direction: column;
      width: 100%;
    }
  }

  input {
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 800;
    height: 60px;
    outline: none;
  }

  input[type="email"] {
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 4px;
    padding-left: 20px;
    text-transform: none;
    color: #9b94a3;

    @include media-queries_768-and-less {
      font-size: 15px;
    }

    @include media-queries_480-and-less {
      font-size: calc(9px + .7vw);
      padding: 0;
      text-align: center;
    }

    &::placeholder {
      text-transform: uppercase;
      color: #9b94a3;

      @include media-queries_480-and-less {
        text-align: center;
      }
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  input[type="submit"] {
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $primary-pink;
  }

  .subscription__form_email {
    width: 330px;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #f4f4ed;
    border-left: 0;

    @include media-queries_768-and-less {
      width: 160px;
    }

    @include media-queries_480-and-less {
      width: 100%;
    }

    &:hover,
    &:focus {
      border-bottom: 3px solid $primary-pink;
    }
  }

  .subscription__form_submit {
    width: 225px;
    height: 65px;
    text-transform: uppercase;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #f4f4ed;
    border-left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(242, 242, 242, .5));

    @include media-queries_480-and-less {
      width: 100%;
    }

    &:hover,
    &:focus {
      border-bottom: 3px solid $primary-pink;
      background: linear-gradient(rgba(255, 255, 255, 0), rgb(241, 241, 241));
    }
  }
}

.footer {
  height: 100%;
  padding: 126px 0;
  background-color: #150433;

  @include media-queries_1024-and-less {
    padding: 75px 0;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 25px;

    @include media-queries_480-and-less {
      padding: 0 10px;
    }
  }

  &__copyright {
    @include width-fit-content;
    height: 19px;
    margin: 0 auto;
    padding-top: 64px;

    p {
      font-family: "Muli Regular", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 11.7px;
      line-height: 19px;
      margin: 0;
      padding: 0 10px;
      text-align: center;
      opacity: .8;
      color: $primary-white;
    }
  }
}

//.footer-wrapper {
////  display: flex;
////  flex-wrap: wrap;
////  justify-content: space-evenly;
////  max-width: 1146px;
////  margin: 0 auto;
////  padding: 0 25px;
////
////  @include media-queries_480-and-less {
////    padding: 0 10px;
////  }
////}

.footer__logo {
  margin: 0 auto;

  @include media-queries_1024-and-less {
    text-align: center;
  }

  &-caption {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 26px;
    max-width: 160px;
    color: rgba(252, 252, 252, .84);
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;

  @include media-queries_1024-and-less {
    margin: 0 auto;
  }

  ul {
    padding: 0;
    list-style-type: none;

    @include media-queries_1024-and-less {
      text-align: center;
    }
  }

  a {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12.6px;
    line-height: 28px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(252, 252, 252, .84);

    &:hover {
      color: $primary-pink;
    }
  }

  .footer__nav-menu,
  .footer__nav-services,
  .footer__nav-contact-info,
  .footer__nav-socials {
    @include height-fit-content;
    margin: 0;

    @include media-queries_1024-and-less {
      margin: 42px 30px 0;
    }

    @include media-queries_480-and-less {
      margin: 42px 0 0;
    }
  }

  .footer__nav-contact-info {
    padding: 0 40px;

    @include media-queries_1024-and-less {
      padding: 0;
    }
  }

  .footer__nav-menu {
    padding-right: 20px;
    padding-left: 40px;

    @include media-queries_1024-and-less {
      padding: 0;
    }
  }

  .footer__nav-contact-info_email,
  .footer__nav-contact-info_phone {
    font-family: "Muli Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 26px;
    color: rgba(252, 252, 252, .84);

    @include media-queries_1024-and-less {
      text-align: center;
    }
  }

  .footer__nav-contact-info_email::before {
    margin-right: 20px;
    content: url('../images/icons/footer__email-icon.svg');
  }

  .footer__nav-contact-info_phone::before {
    margin-right: 20px;
    content: url('../images/icons/footer__phone-icon.svg');
  }

  .footer__nav-socials {
    @include height-fit-content;
    padding-right: 15px;

    @include media-queries_1024-and-less {
      padding-right: 0;
    }
  }

  .footer__nav-socials_logos {
    margin-top: 33px;

    path {
      fill: currentColor;
    }

    a {
      margin-left: 40px;
      transition: all .3s ease-in-out;
      color: $primary-white;

      @include media-queries_480-and-less {
        margin-right: 10px;
        margin-left: 10px;
      }
    }

    a:nth-child(1) {
      margin-left: 0;
    }

    .twitter-logo:hover {
      color: #55acee;
    }

    .facebook-logo:hover {
      color: #3b5999;
    }

    .instagram-logo:hover {
      color: #e4405f;
    }

    .youtube-logo:hover {
      color: #cd201f;
    }

    .medium-logo:hover {
      color: #02b875;
    }
  }

  .footer__nav-heading {
    @include width-fit-content;
    font-family: "Muli Bold", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    margin: 0;
    user-select: none;
    text-transform: uppercase;
    color: $primary-white;
    border-bottom: 1px solid $primary-pink;

    @include media-queries_1024-and-less {
      margin: 0 auto;
    }

    @include media-queries_480-and-less {
      font-size: 11px;
      letter-spacing: 5px;
    }

    p {
      margin: 0;

      @include media-queries_1024-and-less {
        margin: 0;
        padding-left: 5px;
      }
    }
  }
}


//.footer__copyright {
//  @include width-fit-content;
//  height: 19px;
//  margin: 0 auto;
//  padding-top: 64px;
//
//  p {
//    font-family: "Muli Regular", sans-serif;
//    font-style: normal;
//    font-weight: normal;
//    font-size: 11.7px;
//    line-height: 19px;
//    margin: 0;
//    padding: 0 10px;
//    text-align: center;
//    opacity: .8;
//    color: $primary-white;
//  }
//}

.header__navigation-wrapper,
.header__content-wrapper,
.header__text-wrapper,
.intro,
.benefits__content-wrapper,
.services__groups-wrapper,
.subscription,
.footer-wrapper {
  @include media-queries_1440-and-more {
    max-width: 1400px;
  }
}















//==========================================================================
//Helper classes
//==========================================================================

.hidden {
  display: none !important;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap; // 1
  border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: inherit;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  display: table; //2
  content: ' ';   //1
}

.clearfix::after {
  clear: both;
}
